body {
  margin: 0;
  background-color: #efe3d0;
  color: #986d8e;
}

.heading-container {
  display: flex;
  justify-content: center;
}

.title {
  font-family: "Fredoka One", cursive;
  font-size: 8em;
  margin-top: 40px;
  margin-bottom: 40px;
}

.subtitle {
  font-family: "Dosis", sans-serif;
  font-size: 2em;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  color: #87a8a4;
}

.subtitle-boston {
  font-family: "Dosis", sans-serif;
  font-size: 2em;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  color: #87a8a4;
  align-self: flex-end;
}

.subtitle-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  justify-content: center;
}
.add-more-btn,
.boston-btn {
  background-color: #efe3d0;
  border: none;
  font-size: 8em;
  color: #986d8e;
}

.add-more-btn:hover,
.boston-btn:hover {
  color: #87a8a4;
}

.content-container {
  display: flex;
  justify-content: center;
}

.breed-list-container {
  display: flex;
  justify-content: center;
  font-family: "Dosis", sans-serif;
}

.breed-list-label {
  padding-bottom: 25px;
  padding-right: 10px;
  font-size: 1.5em;
  color: #87a8a4;
}

.breed-list {
  margin-bottom: 10px;
  font-family: "Dosis", sans-serif;
  border: none;
  font-size: 1.5em;
  background-color: #986d8e;
  color: #efe3d0;
  text-align: center;
}

.breed-list:hover {
  background-color: #efe3d0;
  color: #87a8a4;
}

.images-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap-reverse;
  width: 1000px;
}
